
@{
    ViewBag.Title = "Home";
}

@model ClassLibrary.Model.Student

<h2>Student Administration</h2>

<h3>Welcome @Html.DisplayFor(model => model.FullName)</h3>

<table>
    <tr><td width="400px"><b>Lesson</b></td><td width="200px"><b>Absence state</b></td></tr>
    @foreach(var a in Model.AbsenceRegistrations)
    {
        <tr>
            @if (a.AbsenceState != null)
            {
                <td>
                    @a.Lesson.StartDate - @a.Lesson.EndDate
                </td>
                <td>
                    @a.AbsenceState
                </td>
            }    
        </tr>
    }
</table>
<br/>
<table>
    <tr><td width="200px"><b>Course</b></td><td width="200px"><b>Absence rate in %</b></td></tr>
    @foreach (var c in Model.Courses)
    {
        <tr>
            <td>
                @c.Name
            </td>
            <td>
                @Model.CalcAbsenceRate(c)%
            </td>
            
        </tr>
    }
</table>