
@{
    ViewBag.Title = "Home";
}

@model  WebApplication.Models.AbsenceRegModel

<h3>Register Absence for @Model.Lesson.StartDate - @Model.Lesson.StartDate</h3>


@using (Html.BeginForm())
{

       if(Model.AbsenceRegistrations.Count() > 0)
       {
            <table>
                <tr><td width="200px"><b>Student Name</b></td><td width="200px"><b>State</b></td></tr>
                @for (int i = 0; i < Model.AbsenceRegistrations.Count; i++)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(model => model.AbsenceRegistrations[i].Student.FullName)
                            @Html.HiddenFor(model => model.AbsenceRegistrations[i].Id)
                        </td>

                        <td>
                            @Html.EnumDropDownListFor(model => model.AbsenceRegistrations[i].AbsenceState)
                        </td>

                    </tr>
                }
            </table>
            <input type="submit" value="Save" />
       }
       else
       {
            <p>Your course has no students enrolled ...</p>
       }
}
<br/>
@Html.ActionLink("<< Back to lessons overview", "Course", "Course", new { courseId = Model.CourseId }, null)

  
  
